<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a class="navitem" href="{{ url_for('home') }}">Home</a>
        <a class="navitem" href="{{ url_for('chats') }}">Chats</a>
        <a class="navitem" href="{{ url_for('feed') }}">Posts</a>
        <div class="navbtncon">
            {% if current_user.is_authenticated %}
                <h1 class="usernametxt">{{ current_user.username }}</h1>
                <img src="{{ current_user.pfp }}" alt="Profile Picture" class="pfp">
            {% else %}
                <button class="signup btn">Sign Up</button>
                <button class="login btn">Log In</button>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashCon">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="chatareaCon">
        <div class="chatarea">
            <ul class="msgs">
            </ul>
        </div>

            <div class="showcon showmsgcon">
                <input class="inp password messagebox" type="text" placeholder="Enter Your Message" src="../static/6493779-200.png" required>
                <img class="showbtn showmsgbtn" src="../static/6493779-200.png"></img>
            </div>
    </div>

<script>
    const signup = document.querySelector('.signup');
    const login = document.querySelector('.login');
    const logout = document.querySelector('.logout');
    const pfp = document.querySelector('.pfp');
    const socket = io({autoConnect: false});
    const sendmsg = document.querySelector('.sendmsg');
    const sendform = document.querySelector('.sendform')
    const messagebox = document.querySelector('.messagebox');
    const password = document.querySelector('.password');
    const showbtn = document.querySelector('.showbtn');

    socket.connect();

    socket.on('connect', ()=> {
        socket.emit("user_join", username);
    })

    showbtn.addEventListener('click', ()=> {
            let message = messagebox.value;
            socket.emit('new_message', message);
            messagebox.value = '';
            showbtn.style.display = 'none';
        }
    )

    messagebox.addEventListener('keyup', (event)=> {
        if (event.key == 'Enter') {
            let message = messagebox.value;
            socket.emit('new_message', message);
            messagebox.value = '';
            showbtn.style.display = 'none';
        }
    })

    socket.on('chat', (data)=> {
        let ul = document.querySelector('.msgs');
        let li = document.createElement('li');
        li.appendChild(document.createTextNode(`${data.sender}: ${data.message}`))
        ul.appendChild(li);
        ul.scrollTop = ul.scrollHeight
    })

    document.addEventListener('DOMContentLoaded', ()=> {


        if (password) {
        password.addEventListener('input', ()=> {
            if (password.value === '') {
                showbtn.style.display = 'none';
            } else {
                showbtn.style.display = 'block';
            }

            })
        };

        if (login) {
            login.addEventListener('click', ()=> {
                window.location.href = '{{ url_for("login") }}'
            })
        }

        if (signup) {
            signup.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('signup') }}"
            })
        }

        if (logout) {
            logout.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('logout') }}"
            })
        }

        if (pfp) {
            pfp.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('user', user_id=current_user.id) }}"
            })
        }

    })    
</script>
</body>
</html>