<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="navbar">
        <a class="navitem" href="{{ url_for('home') }}">Home</a>
        <a class="navitem" href="{{ url_for('chats') }}">Chats</a>
        <a class="navitem" href="{{ url_for('feed') }}">Posts</a>
        <div class="navbtncon">
            {% if current_user.is_authenticated %}
                    <h1 class="usernametxt">{{ current_user.username }}</h1>
                    <img src="{{ current_user.pfp }}" alt="Profile Picture" class="pfp">
            {% else %}
                <button class="sisgnup btn">Sign Up</button>
                <button class="login btn">Log In</button>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashCon">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('newpost', user_id=current_user.id) }}" method="post" class="contain">
        <input type="submit" class='sharepost btn' value="Share Post"></input>
        <div class="border">
            <input class="posttitle" type="text" name="title" placeholder="Title" maxlength="64" required>
            <textarea class="postcontent" placeholder="What's On Your Mind?" wrap="soft" maxlength="650" name="postcontent" required></textarea>
        </div>
    </form>



<script>
    const signup = document.querySelector('.signup');
    const login = document.querySelector('.login');
    const logout = document.querySelector('.logout');
    const pfp = document.querySelector('.pfp');

    document.addEventListener('DOMContentLoaded', ()=> {

        if (login) {
            login.addEventListener('click', ()=> {
                window.location.href = '{{ url_for("login") }}'
            })
        }

        if (signup) {
            signup.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('signup') }}"
            })
        }

        if (logout) {
            logout.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('logout') }}"
            })
        }

        if (pfp) {
            pfp.addEventListener('click', ()=> {
                window.location.href = "{{ url_for('user', user_id = current_user.id) }}"
            })
        }

    })
</script>
</body>
</html>